<footer class="footer">
    <div class='row indexFooter'>
        <div class='col-sm-2 footercopy'>&copy;What's Happening!!</div>
        <div class='col-sm-1'><a href="/about">ABOUT</a></div>
        <div class='col-sm-1'><a href="/contact">CONTACT</a></div>
        <div class='col-sm-8'>
            <a href='https://www.twitter.com/'><img class='socialLnk' src='/assets/images/twitter.png' alt="twitter"></a>
            <a href='https://www.facebook.com/'><img class='socialLnk' src='/assets/images/facebook.png' alt="facebook"></a>
        </div>
    </div>
</footer>