<div class='row indexMenu'>
    <div class='col-sm-1 connectionsMenu'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href='./connections'>Connections</a></div>
    <div class='col-sm-9'></div>
    <div class='col-sm-2 connectionsMenu'>
    <div class='LoggedInUser' id="LoggedInUserMsg">Welcome Grey!</div>
    </div>
</div>
