

.eventConnection{
    width:1200px;
    background-color:#333333;
    padding-top:20px;
    border-radius:20px;
    -webkit-box-shadow: 3px 3px 5px 6px #1a1a1a;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #1a1a1a;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #1a1a1a;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    margin-left:100px;
}

.eventConnection td{
    padding:0 50px 0 50px;
}

.connectionImg{
    width:150px;
    height:150px;
    margin-left:20px;
}

.eventConnection ul{
    list-style-type: none;
}

.innerConnectionTbl td{
    padding:0 10px 0 10px;
}

.wholeConnectionDiv td{
    padding:0px;
}

.yesBtn{
background-color:#336600;
}

.noBtn{
background-color:#cc0000;
}

.maybeBtn{
background-color:#3399ff;
}


.updateBtn{
    background-color:#3366cc;
    width:80px;
}

.deleteBtn{
    background-color:#992600;
    width:80px;
}

.decisionDiv{
width:400px;
}

.indexContent{
  height: 650px;
  overflow: auto !important;
}
