table{
    margin-left:100px;
}

table td{
    padding:10px 0 10px 20px;
}

.txtInput{
    width:500px;
    font:normal 14px verdana;
    border-radius:10px;
    padding-left:10px;
    -webkit-box-shadow: 3px 3px 5px 6px #1a1a1a;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #1a1a1a;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #1a1a1a;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    background-color: #ffffff;
}


.createConBtn{
    width:180px;
    height:34px;
    background:#4d4d4d;
    border:none;
    color: #f2f2f2;
    -webkit-box-shadow: 3px 3px 5px 6px #1a1a1a;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #1a1a1a;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #1a1a1a;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    text-align:center;
    border-radius:10px;
    padding:4px;
    cursor:pointer;
}

.LoggedInUser{
    display:inline;
    cursor:none !important;
}

.error{
  color: red !important;
}

.newConnRow{
  height: 550px;
  overflow: auto !important;
}
